@page "/passwordreset-callback"
@inject NavigationManager Navigation

<p>@_errorMessage</p>
<p>@_errorDescription</p>

@code {

    private string _errorMessage;
    private string _errorDescription;

    protected override void OnInitialized()
    {
        var  state = GetParameter( "state");
        if (state == "12345")
        {
            var error = GetParameter( "error");

            if (error == "")
            {
                Navigation.NavigateTo("/");
            }

            _errorMessage = $"Error: {error}";

            _errorDescription = $"Description: {GetParameter("error_description")}";
        }


        //var state = QueryStringHelper.GetParameter(new Uri(Navigation.Uri).Query, "state");

        //if (state == "12345")
        //{
        //    var error = QueryStringHelper.GetParameter(new Uri(Navigation.Uri).Query, "error");

        //    if (error == "")
        //    {
        //        Navigation.NavigateTo("/");
        //    }

        //    _errorMessage = $"Error: {error}";

        //    _errorDescription = $"Description: {QueryStringHelper.GetParameter(new Uri(Navigation.Uri).Query, "error_description")}";
        //}
    }

    string GetParameter(string key) => System.Web.HttpUtility.ParseQueryString(Navigation.Uri).GetValues(key).FirstOrDefault();

}